<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ficha Avaliação de Risco</ion-title>
  </ion-toolbar>
</ion-header>

<mat-card>
  <mat-card class="spacep">
    <h3>Preencha a ficha de acordo com a escala de Bradem</h3>
  </mat-card>
  <form (submit)="onSalvarFicha(fichaForm)" #fichaForm="ngForm">
    <div class="formfield">
      <mat-form-field>
        <!---<ion-label position="stacked">Nome do paciente</ion-label>-->
        <input
          matInput
          type="text"
          placeholder="Nome do paciente"
          name="nomePaciente"
          ngModel
          required
          #nome="ngModel"
        >
        <mat-error *ngIf="nome.invalid">Favor digitar o nome do paciente.</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <!--<ion-label position="stacked">Matrícula</ion-label>-->
      <input
        matInput
        type="number"
        placeholder="Matrícula"
        name="matriculaPaciente"
        ngModel
        required
        #matricula="ngModel"
      >
      <mat-error *ngIf="matricula.invalid">Favor digitar a matrícula do paciente.</mat-error>
    </mat-form-field>
    <mat-form-field class="alindir">
      <!--<ion-label position="stacked">Leito</ion-label>-->
      <input
        matInput
        type="number"
        placeholder="Número do leito"
        name="leitoPaciente"
        ngModel
        required
        #leito="ngModel"
      >
      <mat-error *ngIf="leito.invalid">Favor digitar leito do paciente.</mat-error>
    </mat-form-field>
    <div>
      <mat-form-field>
        <input
          matInput
          type="date"
          display-format="DD/MM/YYYY"
          name="dataFichaPaciente"
          ngModel
          required
          #data="ngModel"
        >
        <mat-error *ngIf="data.invalid">Favor entrar com a data da avaliação.</mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit">
      <ion-icon name="save" slot="start"></ion-icon>
      Salvar
    </button>
  </form>
</mat-card>
