<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Base de dados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let ficha of fichas">
            <mat-expansion-panel-header>
                Ficha de {{ ficha.data }} do paciente {{ ficha.nome}}
            </mat-expansion-panel-header>
            <p>{{ ficha.nome }}</p>
            <p>{{ ficha.matricula }}</p>
            <p>{{ ficha.data }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</ion-content>