<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/avaliacaoLPP.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bem vindo</ion-card-subtitle>
      <ion-card-title>Prevenção e Rastreamento da Lesão por Pressão</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Selecione uma das ações abaixo para começar</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Menu</ion-label>
    </ion-list-header>
    <ion-button expand="full" (click)="abrirPagina('pagina-ficha-avaliacao')">
      <ion-icon name="clipboard" slot="start"></ion-icon>
      Ficha de Avaliação de Risco
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-escala-braden')">
      <ion-icon name="help" slot="start"></ion-icon>
      Escala de Braden
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-base-dados')">
      <ion-icon name="analytics" slot="start"></ion-icon>
      Base de dados
    </ion-button>
    <ion-button expand="full" (click)="abrirPagina('pagina-desenvolvedor')">
      <ion-icon name="construct" slot="start"></ion-icon>
      Desenvolvedor
    </ion-button>
  </ion-list>
</ion-content>